* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

.container .display {
    width: 100%;
    height: 45px;
    display: flex;
    position: relative;
}

.container .display input {
    width: 100%;
    height: 100%;
    color: #eee;
    background: #222;
    padding: 12px;
    font-size: 17px;
    pointer-events: none;
    border-radius: 8px;
}

.container .display span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: #eee;
    display: none;
    cursor: pointer;
}

.container button {
    cursor: pointer;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    color: #fff;
    background: #1b1b1d;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    transition: .4s;
}

.container button:hover {
    background: #1363df;
}
